.typo select{
	margin: 10px 10px 20px 10px;
	min-width: 150px;
}
.typo input[type="checkbox"]{
	margin: 0 5px 0 10px;
}

.typo .popup-colorpicker{
	margin:0 0 20px 10px;
	font-size: 14px;
	text-align: center;
	min-width: 80px;

}
.widget-color .farb-popup-wrapper{
	margin-left: 0;
}


