// Load Royal Slider CSS
// @import "partials/royalslider";

$phone-width: 320px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$laptop-width: 1200px;
$desktop-width: 1440px;
$fullhd-width: 1920px;

@mixin phone {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-portrait - 1px}) {
		@content;
	}
}

@mixin tablet-portrait {
    @media (min-width: #{$tablet-portrait}) and (max-width: #{$tablet-landscape - 1px}) and (orientation : portrait) {
        @content;
    }
}

@mixin tablet-landscape {
    @media (min-width: #{$tablet-portrait}) and (max-width: #{$tablet-landscape - 1px}) and (orientation : landscape) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$tablet-landscape}) and (max-width: #{$laptop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$laptop-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

h1, h2, h3, h4, h5, h6, p, span {
    font-family: Simon, Open Sans;
}

body {
    .sb-slidebar {
        background-color: #000;
        
        &.opened {
            width: 550px;
            
            @include phone {
                width: 100%;
            }
        }
        .menu {
            margin: 150px 125px 50px 60px;
            text-align: right;
        
            ul {
                li {
                    font-size: 16px;
                    line-height: 45px;
            
                    a {
                        cursor: pointer;
                    }
                    &.current-menu-item {
                        a {
                            color: #fff !important;
                            font-weight: 700;
                        }
                    }
                    @include phone {
                        font-size: 14px;
                    }
                }
            }
            @include desktop {
                margin-right: 75px;
            }
            @include phone {
                margin: 55px 40px;
                text-align: left;
            }
        }
    }
    .be-wrap {
        max-width: 1674px;
        
        @include desktop {
            max-width: 1200px;
        }
    }
    #main-wrapper {
        #main {
            #header {
                position: absolute;
                width: 100%;
                height: 170px;
                top: 0;
                left: 0;
                background: transparent;
                z-index: 15;
                
                @include desktop {
                    height: 120px;
                }
                #header-inner-wrap {
                    background: inherit;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    -ms-box-shadow: none;
                    
                    #header-wrap {
                        .page-title {
                            position: absolute;
                            right: 0;
                            width: 50%;
                            
                            h1 {
                                font-size: 50px;
                                font-weight: 700;
                                color: #fff;
                                letter-spacing: 1px;
                                padding: 35px 50px;    
                                
                                @include desktop {
                                    font-size: 36px;
                                }
                            }
                        }
                        .header-controls {
                            .menu-controls {
                                margin-top: 45px;
                                position: relative;
                                cursor: pointer;
                                
                                span {
                                    &.sandwich-menu {
                                        background-color: #fff;
                                        height: 4px;
                                        width: 30px;
                                        display: block;
                                        margin: 5px 0;
                                        position: relative;
                                        transition: all ease-in 0.3s;
                                    }
                                }
                                i {
                                    &.font-icon {
                                        color: #fff;
                                        font-size: 40px;
                                        padding-top: 20px;
                                    }
                                }
                                &.opened {
                                    span {
                                        &.sandwich-menu {
                                            &:first-of-type {
                                                transform: rotate(45deg);
                                                top: 9px;
                                            }
                                            &:last-of-type {
                                                transform: rotate(-45deg);
                                                top: -9px;
                                            }
                                            &:nth-child(2){
                                                visibility: hidden;
                                                opacity: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .full-height {
                height: 100vh;
            }
            .half-section {
                width: 50%;
                float: left;
            }
            .full-section {
                width: 100%;
            }
            #revslider-container {
                .no-slides-text {
                    padding-top: 0;
                    position: relative;
                    top: 80px;
                }
            }
            #descontos-wrapper {
                .entry-thumb {
                    position: relative;
                    z-index: 16;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: 50%;
                }    
                .form-descontos-container {
                    background-color: #ebebeb;
                    position: relative;
                    
                    #form_form-descontos {
                        position: relative;
                        top: 200px;
                        width: 100%;
                        max-width: 845px;
                        text-align: right;
                        
                        @include desktop {
                            top: 130px;
                            max-width: 635px;
                        }
                        .frm_error_style {
                            display: none;
                        }
                        .half-input {
                            width: 45%;
                            display: inline-block;
                            padding: 0 10px;
                            clear: none;
                            
                            .frm_required {
                                color: #000;
                                float: left;
                            }
                            input, select {
                                height: 42px;
                                border-radius: 0;
                                
                                @include desktop {
                                    height: 35px;
                                }
                            }
                            .frm_primary_label {
                                text-transform: uppercase;
                                font-family: Simon, Open Sans;
                                
                                @include desktop {
                                    font-size: 12px;
                                }
                            }
                            .frm_date {
                                background-image: url(../images/date-icon.png);
                                background-repeat: no-repeat;
                                background-position: 10px 50%;
                            }
                            .frm_error {
                                margin-bottom: -20px;
                            }
                        }
                        .frm_submit {
                            width: 90%;
                            float: right;
                            text-align: center;
                            
                            .frm_button_submit {
                                border-radius: 0;
                                padding: 10px 30px;
                                text-transform: uppercase;
                                color: #fff;
                                background-color: #000;
                            }
                        }
                    }
                }
            }
            #regulamento-wrapper {
                .entry-content {
                    position: relative;
                    top: 23vh;
                }
            }
            #propriedades-slider-wrapper {
                position: relative;
                
                #propriedades-featured {
                    .propriedade {
                        cursor: pointer;
                        
                        .propriedade-btn {
                            background-color: #000;
                            display: inline-block;
                            position: relative;
                            top: 70vh;
                            padding: 25px 40px 25px 5%;
                            
                            @include desktop {
                                top: 55vh;
                            }
                            .propriedade-title {
                                color: #fff;    
                                letter-spacing: 1px;
                                font-weight: 900;
                                font-size: 60px;
                            }
                            span {
                                font-size: 30px;
                                color: #b4b2b0;
                            }
                        }
                    }
                }
                .carrousel-control {
                    position: absolute;
                    bottom: 0;
                    z-index: 10;
                    width: 100%;
                    text-align: center;
                    background: linear-gradient(to bottom, rgba(26, 28, 30, 0) 0, rgba(0, 0, 0, 0.7) 100%);
                    padding: 38px 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: all ease 0.5s;
                    
                    .carrousel-item {
                        display: inline-block;
                        text-transform: uppercase;
                        font-family: Simon, Open Sans;
                        font-size: 16px;
                        color: #fff;
                        cursor: pointer;
                        
                        &:not(:first-of-type) {
                            &:before {
                                content: '';
                                display: inline-block;
                                background-color: #ffffff;
                                width: 55px;
                                height: 1px;
                                vertical-align: middle;
                                margin: 0 10px;
                                
                                @include desktop {
                                    width: 42px;
                                }
                            }
                        }
                        &.current {
                            font-weight: 900;
                            cursor: default;
                        }
                    }
                }
                &:hover {
                    .carrousel-control {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            .propriedades-city-wrapper {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #fff;
                top: 0;
                left: 0;
                z-index: 15;
                display: none;
                
                &.active {
                    display: block;
                }
                .close-content {
                    position: absolute;
                    top: 70px;
                    right: 65px;
                    cursor: pointer;
                    color: #fff;
                    z-index: 10;
                    
                    svg {
                        width: 20px;
                        height: 20px;
                        color: inherit;
                        vertical-align: middle;
                    }
                    span {
                        color: inherit;
                        text-transform: uppercase;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .propriedade-title {
                    background-color: #000;
                    padding: 60px 0;
                    
                    h2 {
                        color: #fff;
                        letter-spacing: 1px;
                        font-weight: 700;
                        font-size: 50px;
                        padding: 0 15px;
                    }
                }
                .propriedade-inner-wrapper {
                    padding: 50px 0;
                    
                    .entry-meta {
                        height: 50px;
                        position: relative;
                        margin-bottom: 5px;
                        
                        .entry-title {
                            font-size: 22px;
                            letter-spacing: 1px;
                            line-height: 28px;
                            position: absolute;
                            bottom: 0;
                            font-weight: 700;
                        }
                    }
                    .entry-thumb {
                        height: 235px;
                        
                        img {
                            width: 100%;
                        }
                    }
                    .entry-content {
                        p {
                            margin-bottom: 10px;
                            color: #000;
                            line-height: 18px;
                            
                            &.entry-description {
                                margin: 15px 0 20px;
                            }
                            .img-wrapper {
                                display: inline-block;
                            }
                            .entry-text {
                                display: inline-block;
                                vertical-align: top;
                                margin-left: 6px;
                            }
                        }
                    }
                }
            }
            #bottom-widgets {
                background: #000;
                padding: 20px 0;
                
                .one-fourth {
                    margin-left: 0;
                    width: 25%;
                    
                    @include desktop {
                        width: 21%;
                    }
                }
                .two-fourth {
                    width: 50%;
                    margin-left: 0;
                    
                    @include desktop {
                        width: 58%;
                    }
                }
                .text-content {
                    display: inline-block;
                    vertical-align: bottom;
                    
                    &:not(:first-of-type) {
                        margin-left: 30px;
                        
                        @include desktop {
                            margin-left: 15px;
                        }
                    }
                    span {
                        display: block;
                        
                        @include desktop {
                            font-size: 12px;
                        }
                    }
                    a {
                        color: #fff;
                        font-size: 18px;
                        font-weight: 900;
                        
                        @include desktop {
                            font-size: 16px;
                        }
                    }
                }
                .menu-menu-principal-container {
                    padding: 16px 0;
                  
                    li {
                        &.menu-item {
                            display: inline-block;
                            margin-bottom: 0;
                            padding: 0 10px;
                      
                            @include desktop {
                                padding: 0 5px;
                            }
                            &:before {
                                content: none;
                            }
                            a {
                                text-transform: uppercase;
                                font-size: 14px;
                        
                                @include desktop {
                                    font-size: 12px;
                                }
                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            #footer {
                #footer-wrap {
                    padding: 10px 0;
                    
                    #copyright {
                        font-size: 12px;
                        text-align: left;
                    }   
                }
            }
        }
    }
    
    &.page-template-descontos, &.page-template-regulamento {
        #main-wrapper {
            #main {
                #header {
                    background-color: #000;
                }
            }
        }
    }
    &.page-template-regulamento {
        #main-wrapper {
            #main {
                #header {
                    #header-inner-wrap {
                        #header-wrap {
                            .page-title {
                                width: 100%;
                                float: none;
                                
                                h1 {
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
  width: 600px;
  height: 400px;
  position: relative;
  direction: ltr; }

.royalSlider > * {
  float: left; }

.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0); }

.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden; }

.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none; }

.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: transparent; }

.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: transparent; }

.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0; }

.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

.rsArrow,
.rsThumbsArrow {
  cursor: pointer; }

.rsThumb {
  float: left;
  position: relative; }

.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear; }

.rsGCaption {
  width: 100%;
  float: left;
  text-align: center; }

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important; }

.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none; }

.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto; }

.rsContent {
  width: 100%;
  height: 100%;
  position: relative; }

.rsPreloader {
  position: absolute;
  z-index: 0; }

.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none; }

.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25); }

.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22; }

.rsTabs {
  float: left;
  background: none !important; }

.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

.rsVideoContainer {
  /*left: 0;
  top: 0;
  position: absolute;*/
  /*width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative; }

.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s; }

.rsVideoFrameHolder.rsVideoActive {
  opacity: 1; }

.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px; }

.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15; }

img.rsImg {
  max-width: none; }

.grab-cursor {
  cursor: url("../images/grab.png") 8 8, move; }

.grabbing-cursor {
  cursor: url("../images/grabbing.png") 8 8, move; }

.rsNoDrag {
  cursor: auto; }

.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url(blank.gif); }

/*------------------------------------------------------------------------------
= RoyalSlider Skin 
------------------------------------------------------------------------------*/
/* Background */
.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder {
  background: #000;
  color: #FFF; }

/* Arrows */
.rsDefault .rsArrow {
  position: absolute;
  bottom: 30px;
  z-index: 99999; }

.rsDefault .rsArrow.rsArrowRight {
  right: 30px; }

.rsDefault .rsArrow.rsArrowLeft {
  right: 85px; }

.rsDefault .rsArrowIcn {
  cursor: pointer;
  font-size: 30px;
  font-family: FontAwesome;
  text-align: center;
  line-height: 45px;
  width: 45px;
  height: 45px; }

.rsDefault .rsArrowIcn:hover {
  background: #000;
  color: #fff; }

.rsDefault.rsHor .rsArrowLeft .rsArrowIcn:before {
  content: "\f104";
  margin: -5px 0 0 -5px; }

.rsDefault.rsHor .rsArrowRight .rsArrowIcn:before {
  content: "\f105";
  margin: -5px -5px 0 0; }

.rsDefault.rsVer .rsArrowLeft .rsArrowIcn:before {
  content: "\f106"; }

.rsDefault.rsVer .rsArrowRight .rsArrowIcn:before {
  content: "\f107"; }

.rsDefault .rsArrowDisabled .rsArrowIcn {
  opacity: .2;
  *display: none; }

/* Bullets */
.rsDefault .rsBullets {
  z-index: 35;
  bottom: 12%;
  left: 0;
  line-height: 10px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  position: absolute;
  right: 0; }
  @media screen and (min-width: 720px) {
    .rsDefault .rsBullets {
      line-height: 15px; } }

.rsDefault .rsBullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 5px 0 0; }
  @media screen and (min-width: 720px) {
    .rsDefault .rsBullet {
      width: 15px;
      height: 15px; } }

.rsDefault .rsBullet span {
  display: block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 99%;
  -moz-border-radius: 99%;
  -ms-border-radius: 99%;
  border-radius: 99%;
  background: none;
  border: 1px solid #fff;
  cursor: pointer; }
  @media screen and (min-width: 720px) {
    .rsDefault .rsBullet span {
      width: 15px;
      height: 15px;
      border: 2px solid #fff; } }

.rsDefault .rsBullet.rsNavSelected span {
  background: #019ebc;
  border: 1px solid transparent;
  cursor: auto; }
  @media screen and (min-width: 720px) {
    .rsDefault .rsBullet.rsNavSelected span {
      border: 2px solid transparent; } }

/* Thumbnails */
.rsDefault .rsThumbsHor {
  width: 100%;
  height: 72px; }

.rsDefault.rsWithThumbsHor .rsThumbsContainer {
  position: relative;
  height: 100%; }

.rsDefault.rsWithThumbsVer .rsThumbsContainer {
  position: relative;
  width: 100%; }

.rsDefault .rsThumb {
  float: left;
  overflow: hidden;
  height: 100%;
  line-height: 0; }

.rsDefault .rsThumb .thumbIco {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  line-height: inherit;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.rsDefault .rsThumb .thumbIco:before {
  font-family: FontAwesome;
  content: "\f002";
  color: #000;
  position: absolute;
  text-align: center;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin: -15px 0 0 -15px;
  top: 50%;
  left: 50%; }

.rsDefault .rsThumb.rsNavSelected .thumbIco,
.rsDefault .rsThumb:hover .thumbIco {
  opacity: 1; }

.rsDefault .rsThumb img {
  height: 100%;
  width: 100%; }

/* Thumbnail selected */
.rsDefault .rsTmb {
  display: block; }

/* Thumbnails with text */
.rsDefault .rsTmb h5 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 20px;
  color: #FFF; }

.rsDefault .rsTmb span {
  color: #DDD;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px; }

/* Thumbnails arrow icons */
.rsDefault .rsThumbsArrow {
  height: 100%;
  width: 20px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
  background: #000;
  background: rgba(0, 0, 0, 0.75); }

.rsDefault .rsThumbsArrow:hover {
  background: rgba(0, 0, 0, 0.9); }

.rsDefault.rsWithThumbsVer .rsThumbsArrow {
  width: 100%;
  height: 20px; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft {
  top: 0;
  left: 0; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowRight {
  bottom: 0;
  left: 0; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft {
  left: 0;
  top: 0; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowRight {
  right: 0;
  top: 0; }

.rsDefault .rsThumbsArrowIcn {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  position: absolute;
  cursor: pointer;
  background: url("images/rs-default.png"); }

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn {
  background-position: -128px -32px; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn {
  background-position: -128px -48px; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn {
  background-position: -144px -32px; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn {
  background-position: -144px -48px; }

.rsDefault .rsThumbsArrowDisabled {
  display: none !important; }

/* Fullscreen button */
.rsDefault .rsFullscreenBtn {
  right: 30px;
  top: 30px;
  width: 40px;
  height: 40px;
  z-index: 9999;
  display: block;
  position: absolute;
  cursor: pointer; }

.rsDefault .rsFullscreenIcn {
  display: block;
  margin: 0;
  width: 32px;
  height: 32px; }

.rsDefault .rsFullscreenIcn:after {
  content: "\f065";
  display: block;
  font-family: FontAwesome;
  font-size: 20px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px; }

/* Play/close video button */
.rsDefault .rsPlayBtn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  margin-left: -32px;
  margin-top: -32px;
  cursor: pointer; }

.rsDefault .rsPlayBtnIcon {
  width: 64px;
  display: block;
  height: 64px; }

.rsDefault .rsPlayBtnIcon:after {
  content: "\f04b";
  display: block;
  font-family: FontAwesome;
  font-size: 26px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px; }

.rsDefault .rsBtnCenterer {
  position: absolute;
  left: 50%;
  top: 50%; }

.rsDefault.ht-gallery-fullscreen .rsCloseVideoBtn {
  right: 30px; }

.rsDefault .rsCloseVideoBtn {
  right: 75px;
  top: 30px;
  z-index: 500;
  position: absolute;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0); }

.rsDefault .rsCloseVideoBtn.rsiOSBtn {
  top: -38px;
  right: -6px; }

.rsDefault .rsCloseVideoIcn:after {
  content: "\f00d";
  display: block;
  font-family: FontAwesome;
  font-size: 20px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px; }

.rsDefault .rsFullscreenIcn,
.rsDefault .rsPlayBtnIcon,
.rsDefault .rsCloseVideoIcn {
  color: #000;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s; }

.rsDefault .rsFullscreenIcn:hover,
.rsDefault .rsPlayBtn:hover .rsPlayBtnIcon,
.rsDefault .rsCloseVideoIcn:hover {
  background-color: #000;
  color: #fff; }

/* Preloader */
.rsDefault .rsPreloader {
  width: 20px;
  height: 20px;
  background-image: url("../images/preloader-white.gif");
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px; }

/* Custom RS Styles */
.rsDefault.rsWithThumbsHor .rsArrow {
  bottom: 20px; }

.rsDefault .rsThumbsHor,
.rsDefault .rsThumbsVer {
  background: #fff;
  padding: 5px;
  position: absolute; }

.rsDefault .rsThumbsHor .rsThumb {
  height: 110px;
  width: 183px; }

.rsDefault .rsThumbsHor {
  left: 0;
  right: 0;
  bottom: 85px;
  height: 120px; }

.rsDefault .rsThumbsVer {
  right: 40px;
  top: 0;
  bottom: 0;
  width: 450px; }

.rsWithThumbsVer .ht-gallery-caption {
  right: 520px; }

.rsWithThumbsVer .rsArrow.rsArrowRight {
  right: 520px; }

.rsWithThumbsVer .rsArrow.rsArrowLeft {
  right: 575px; }

@media all and (max-width: 1600px) {
  .rsDefault .rsThumbsVer {
    width: 350px; }

  .rsWithThumbsVer .ht-gallery-caption {
    right: 420px; }

  .rsWithThumbsVer .rsArrow.rsArrowRight {
    right: 420px; }

  .rsWithThumbsVer .rsArrow.rsArrowLeft {
    right: 475px; } }
@media all and (max-width: 1200px) {
  .rsDefault .rsThumbsVer {
    width: 250px; }

  .rsWithThumbsVer .ht-gallery-caption {
    right: 320px; }

  .rsWithThumbsVer .rsArrow.rsArrowRight {
    right: 320px; }

  .rsWithThumbsVer .rsArrow.rsArrowLeft {
    right: 375px; } }
@media all and (max-width: 800px) {
  .rsDefault .rsThumbsVer {
    width: 200px; }

  .rsWithThumbsVer .ht-gallery-caption {
    right: 270px; }

  .rsWithThumbsVer .rsArrow.rsArrowRight {
    right: 270px; }

  .rsWithThumbsVer .rsArrow.rsArrowLeft {
    right: 335px; } }
@media all and (max-width: 720px) {
  .rsWithThumbsVer .ht-gallery-caption {
    right: 20px; }

  .rsWithThumbsVer .rsArrow.rsArrowRight {
    right: 20px; }

  .rsWithThumbsVer .rsArrow.rsArrowLeft {
    right: 75px; }

  .ht-gallery-caption {
    bottom: 70px; }

  .rsDefault .rsThumbsVer,
  .rsDefault .rsArrowIcn,
  .rsDefault .rsThumbsToggle {
    display: none; } }
.rsDefault .rsThumbsVer .rsThumb {
  float: none;
  height: auto; }

.rsDefault.rsWithThumbsHor .ht-gallery-caption {
  bottom: 225px;
  right: 30px; }

.rsDefault .rsThumb {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIntrans;
  animation-name: fadeIntrans; }

.rsDefault .rsThumb:nth-child(2) {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s; }

.rsDefault .rsThumb:nth-child(3) {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s; }

.rsDefault .rsThumb:nth-child(4) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s; }

.rsDefault .rsThumb:nth-child(5) {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s; }

.rsDefault .rsThumb:nth-child(6) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s; }

.rsDefault .rsThumb:nth-child(7) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s; }

.rsDefault .rsThumb:nth-child(8) {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s; }

.rsDefault .rsThumb:nth-child(9) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s; }

.rsDefault .rsThumb:nth-child(10) {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s; }

.rsDefault .rsThumb:nth-child(11) {
  animation-delay: 1.0s;
  -webkit-animation-delay: 1.0s; }

.rsDefault .rsThumb:nth-child(12) {
  animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s; }

.rsDefault .rsThumb:nth-child(13) {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s; }

.rsDefault .rsThumb:nth-child(14) {
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s; }